<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SalesAgent.master.cs"
    Inherits="Apple_Bss.UI.MarketingAndSales.SalesExecutive.SalesAgent" %>

<%@ Register Src="../../../UserControl/Header.ascx" TagName="Header" TagPrefix="uc1" %>
<%@ Register Src="../../../UserControl/Footer.ascx" TagName="Footer" TagPrefix="uc3" %>
<%@ Register Src="salesAgentMenu.ascx" TagName="salesAgentMenu" TagPrefix="uc2" %>
<%@ Register Src="../../../UserControl/SitePath.ascx" TagName="SitePath" TagPrefix="uc4" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link rel="stylesheet" type="text/css" href="../../../CSS/InetBill.css" />
    <title></title>
</head>
<body style="margin: 0">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="White">
        <tr>
            <td colspan="2">
                <uc1:Header ID="Header1" runat="server" />
            </td>
        </tr>
        <tr><td colspan="2"><uc2:salesAgentMenu ID="salesAgentMenu1" runat="server" /></td></tr>
        <tr>
            <td height="30px" style="background-image: url('../../../Images/Pictures/hor-bg.gif');
                background-repeat: repeat-x; background-position: left top" width="50%">
                <uc4:SitePath ID="SitePath1" runat="server" />
            </td>
            <td height="30px" style="background-image: url('../../../Images/Pictures/hor-bg.gif');
                background-repeat: repeat-x; background-position: left top" align="right" width="50%">
                
            </td>
        </tr>
        <tr>
            <td width="100%" class="tdgap" colspan="2">
            </td>
        </tr>
        <tr>
            <td width="100%" valign="top" style="text-align: center" colspan="2" class="tdContent">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tdgap">
            </td>
        </tr>
        
                <uc3:Footer ID="Footer1" runat="server" />
     
    </table>
    </form>
</body>
</html>
