<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TamperProofKey" value="YourUglyRandomKeyLike-lkj54923c478123456789646346434634634634634634634634634634634634634643634634634634689769691" />
    <add key="ConnectionString" value="Server=.;user id=sa;password=symdbadmin678;Initial Catalog=inetbilldimapur" />
    <add key="BranchCode" value="DMP" />
    <add key="Wired" value="500" />
    <add key="WireLess" value="300" />
    <add key="ServiceTax" value="0.15" />
    <add key="ServerAddress" value="223.27.120.20" />
    <add key="Database" value="inetbilldimapur" />
    <add key="UserID" value="sa" />
    <add key="Password" value="sym123!" />
    <add key="DEBUG" value="1" />
    <add key="TechSupportLevel" value="3" />
    <add key="ReportsPath" value="F:\WEB\BROADBANDBILLSREPORTFILES\"/>

    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="UploadedImagesFolderPath" value="~//UploadedFiles//" />
    <add key="CSVFolderPath" value="~//CSVFolder//" />

    <add key="SMSAccountUserID" value="symbios"/>
    <add key="SMSAccountPassword" value="789987!"/>
    <add key="SMSBaseURL" value="http://india.msg91.com/sendhttp.php?user="/>

    <add key="SMSMessagePending" value="Dear Customer, your service request is registered and will be rectified within the next 6 working hours(9 am to 6 pm). Ticket number: "/>
    <add key="SMSMessageResolved" value="Dear Customer, your service request has been resolved. Ticket number: "/>
    <add key="SRNOTIFICATION" value="Dear Support, A service request for customer has been raised. AN SMS has been sent to the registered mobile number of customer notifying the request will be rectified within the next 6 working hours(9 am to 6 pm). Log in to your APPLE Account to see the details of the request. "/>

    <add key="SENDEREMAILID" value="noreply@symbios.in"/>
    <add key="SENDEREMAILPASSWORD" value="u#nzCXrXm4"/>

    <add key="CUSTOMERCAREMAIL" value="limainla.jamir@symbios.in"/>
    <add key="TECHNICALSUPPORTMAILS" value="asen.lkr@symbios.in"/>
    <add key="NETWORKMANAGERMAIL" value="bipin@symbios.in"/>

    <add key="TECHSUPPORTNUMBER" value=""/>
    <!-- above value null means no number is used. (the key itself is used within the code application)-->
    <add key="SendingSMSAllowed" value="TRUE"/>

    <add key="ConnectionStringSymBiosBroadbandBillsNotifier" value="Server=.;user id=sa;password=symdbadmin678;Initial Catalog=SymBiosBroadbandBillsNotifier"/>

    <add key="ALLOWEDUPLOADFILESIZE" value="614400"/>
    <add key="APPLICATIONPATH" value="http://223.27.120.20/dmp"/>
    <add key="DOCUMENTSPATH" value="/UploadedFiles/Documents/"/>

  </appSettings>
  <system.web>
    <machineKey validationKey="AB833E30B723275E846E191A929C18B2E48C8BEF9CAC5E099E7E4316442DB1180BB6E2E84B6F48A77290207520176CD8E65CA8F6EF318579C844D93EFCEF9B40" decryptionKey="DFC871BF4417EF2DDA3BA9191AD0C8B201AD7BF3B93FA69CC99B2376C892F9CA" validation="SHA1" decryption="AES" />
    <customErrors mode="Off"/>
    <sessionState timeout="20"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="cr" namespace="CrystalDecisions.Web" assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>

    <compilation debug="false">
      <assemblies>
        <!-- 
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/> -->
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--  <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>  -->
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <!--<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add verb="GET,HEAD" path="ScriptResource.axd"     type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0,Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />



    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <!-- this to ensure that cookies are accesed only from the sever side.-->
    <httpCookies httpOnlyCookies="true"/>

    <httpRuntime
      executionTimeout="600"
      maxRequestLength="20480"
      requestLengthDiskThreshold="80"
      useFullyQualifiedRedirectUrl="false"
      minFreeThreads="8"
      minLocalRequestFreeThreads="4"
      appRequestQueueLimit="5000"
      enableKernelOutputCache="true"
      enableVersionHeader="true"
      requireRootedSaveAsPath="true"
      enable="true"
      shutdownTimeout="600"
      delayNotificationTimeout="5"
      waitChangeNotification="0"
      maxWaitChangeNotification="0"
      enableHeaderChecking="true"
      sendCacheControlHeader="true"
      apartmentThreading="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>